services:
  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: jerseyshop
    ports:
      - "3307:3306"

  backend:
    build: ./jersey-shop-be  # Đường dẫn tương đối chuẩn từ thư mục gốc
    container_name: backend
    restart: on-failure
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/jerseyshop
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123456

  frontend:
    build: ./jersey-shop-fe  # Đường dẫn tương đối chuẩn từ thư mục gốc
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend